{% extends 'base.html.twig' %}

{% block title %}Spectacle{% endblock %}

{% block body %}
    <h1>Spectacle du {{ spectacle.date |date ('d/m/y') }}</h1>

    <div>
        Comédien.nes :
        {% for comedien in spectacle.comediens %}
            {{ comedien.prenom }}
        {% endfor %}
    </div>

    <a href="{{ path('app_spectacle_index') }}">retour à la liste des spectacles</a>

    <a href="{{ path('app_spectacle_edit', {'id': spectacle.id}) }}">modifier le spectacle</a>

    {{ include('spectacle/_delete_form.html.twig') }}
{% endblock %}
